.idea/
selectors-benchmarks.iml

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.vscode/
*.beam
*.log
*_idle_power.csv
*_power_metrics.csv
.DS_Store
**/.DS_Store

